@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin flex($dir: row, $content: center, $items: center, $wrap: wrap) {
  display: flex;
  flex-direction: $dir;
  justify-content: $content;
  align-items: $items;
  flex-wrap: $wrap;
}

@mixin text(
  $font-weight,
  $font-size,
  $color: inherit,
  $line-height: normal,
  $font-family: $regular-font-family
) {
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
  line-height: $line-height;
  font-family: $font-family;
}

@mixin text-overflow($w: 100%, $line: 1) {
  width: $w;
  overflow: hidden;
  text-overflow: ellipsis;

  @if $line==1 {
    white-space: nowrap;
  } @else if $line>1 {
    // Not for IE & Firefox
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
  }
}
